<a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
<soho-icons *ngIf="!useUpliftIcons"></soho-icons>
<soho-icons-uplift *ngIf="useUpliftIcons"></soho-icons-uplift>
<soho-icons-empty></soho-icons-empty>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <button soho-button (click)="clicked()">{{'Alert' | sohoTranslate }}</button>
</div>
<app-datagrid></app-datagrid>

<div soho-personalize (changetheme)="onChangeTheme($event)"></div>
